p,h1{
  text-align:center;
}
#answer,#display
{
  border-radius:25px;
  background-color:grey;
  margin:5%;
}
#answer
{
  padding:5%;
}
#display
{
  padding:10%
}
#canvas
{
  background-color:white;
  width:90%;
  height:90%;

}
